/*=======================================================
====== LAYOUT FOR HEADER ================================
=======================================================*/

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: #386362;
}

.bar {
  grid-column: span 4;
  background-color: beige;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.hamburger {
  grid-column: span 1;
  margin: 0.5rem;
}

h1 {
  grid-column: span 2;
  padding-block: 1rem;
}

.kundvagn {
  grid-column: span 1;
  justify-self: end;
  margin: 0.5rem;
}

/*=======================================================
====== BUTTON ===========================================
=======================================================*/

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger span {
  width: 1.5rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 10px;
}
