.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*=======================================================
====== LAYOUT FOR HEADER ================================
=======================================================*/

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: rgb(205, 205, 205);
}

.bar {
  grid-column: span 4;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: white;
}

.hamburger {
  grid-column: span 1;
  margin: 0.5rem;
}

h1 {
  grid-column: span 2;
  padding-block: 1rem;
}

/*============================================================
====== MENU BUTTON ===========================================
=============================================================*/

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger span {
  width: 1.5rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 10px;
}

/*=======================================================
====== CART BUTTON ======================================
=======================================================*/

.btn-cart {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  grid-column: span 1;
  justify-self: end;
  margin: 0.5rem;
  background-color: transparent;
  border: none;
}

.btn-cart__icon {
  fill: transparent;
  stroke: rgb(107, 107, 107);
  stroke-width: 2;
  width: 1.5rem;
  height: 1.5rem;
}

.btn-cart__count {
  color: rgb(33, 33, 33);
}
