header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.information-bar {
  grid-column: span 4;
  padding-block: 0.7rem;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  gap: 0.2rem;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  margin: 1rem;
  padding-block: 1rem;
  border: none;
}

.hamburger span {
  width: 1.5rem;
  height: 0.15rem;
  background-color: rgb(107, 107, 107);
  border-radius: 10px;
}

h1 {
  grid-column: span 2;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1rem;
  padding-block: 1rem;
  text-align: center;
  color: black;
}

.btn-cart {
  grid-column: span 1;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-self: end;
  margin: 1rem;
  padding-block: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-cart__icon {
  fill: transparent;
  stroke: rgb(107, 107, 107);
  stroke-width: 2;
  width: 1.5rem;
  height: 1.5rem;
}

.btn-cart__icon:hover {
  stroke: black;
}

.btn-cart__count {
  color: rgb(33, 33, 33);
}

.navMenu {
  display: none;
}

.navMenu.active {
  grid-column: span 4;
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.btn.btn--filter {
  grid-column: span 4;
  border: none;
  justify-self: left;
  text-transform: none;
  font-size: 0.8rem;
}

.btn.btn--filter:hover {
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  border: none;
}

//===========================================================
//== TABLET =================================================
//===========================================================

@media (min-width: 48em) {
  h1 {
    grid-column: span 3;
    padding: 0;
    margin-block: 0;
  }

  .btn-cart {
    grid-column: span 1;
    margin-block: 0;
  }

  .navMenu {
    grid-column: span 4;
  }

  .hamburger {
    display: none;
  }

  h1 {
    font-size: 1.3rem;
    text-align: left;
  }

  .navMenu {
    display: block;
    gap: 1rem;
    padding-inline: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
  }

  .btn.btn--filter {
    font-size: 0.9rem;
    background-color: transparent;
  }

  .btn.btn--filter:hover {
    font-size: 1rem;
  }
}
