header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #dfdfdf;
}

.navbar {
  display: none;
}

.navbar.active {
  display: flex;
  background-color: red;
}

/*=======================================================
====== BUTTON ===========================================
=======================================================*/

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border: none;
  background-color: transparent;
}

.hamburger span {
  width: 1.5rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 10px;
}
