/*=======================================================
====== LAYOUT FOR HEADER ================================
=======================================================*/

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.information-bar {
  grid-column: span 4;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: white;
}

.hamburger {
  grid-column: span 1;
  margin: 0.5rem;
}

h1 {
  grid-column: span 2;
  padding-block: 1rem;
  text-transform: uppercase;
}

.btn-cart {
  grid-column: span 1;
}

/*============================================================
====== MENU BUTTON ===========================================
=============================================================*/

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger span {
  width: 1.5rem;
  height: 0.2rem;
  background-color: black;
  border-radius: 10px;
}

/*============================================================
====== MENU ==================================================
=============================================================*/

.navMenu {
  display: none;
}

.navMenu.active {
  grid-column: span 4;
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.btn.btn--filter {
  grid-column: span 4;
  border: none;
  justify-self: left;
  text-transform: none;
  font-size: 0.8rem;
}

.btn.btn--filter:hover {
  background-color: transparent;
  color: black;
  font-size: 0.9rem;
  border: none;
}

/*=======================================================
====== CART BUTTON ======================================
=======================================================*/

.btn-cart {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  grid-column: span 1;
  justify-self: end;
  margin: 0.5rem;
  background-color: transparent;
  border: none;
}

.btn-cart__icon {
  fill: transparent;
  stroke: rgb(107, 107, 107);
  stroke-width: 2;
  width: 1.5rem;
  height: 1.5rem;
}

.btn-cart__count {
  color: rgb(33, 33, 33);
}

//=========
//== TABLET
//=========

@media (min-width: 48em) {
  /*=======================================================
====== LAYOUT FOR HEADER ================================
=======================================================*/

  h1 {
    grid-column: span 3;
  }

  .btn-cart {
    grid-column: span 1;
  }

  .navMenu {
    grid-column: span 4;
  }

  //============================================================
  //===( TABLET )=== MENU ==================================================
  //=============================================================

  .hamburger {
    display: none;
  }

  h1 {
    padding-left: 1rem;
  }

  .navMenu {
    display: block;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
  }

  .btn.btn--filter {
    font-size: 0.9rem;
    grid-template-columns: span 4;
  }

  .btn.btn--filter:hover {
    font-size: 1rem;
  }
}
