main {
  overflow: auto;
  padding: 1rem;
}

h2 {
  padding: 1rem;
}

.btn {
  border-radius: 0.5rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-column: span 1;
  text-align: center;
}

.image-placeholder {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* fyrkant */
  background-color: #f2f2f2;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #888;
  font-size: 0.9rem;
}
