main {
  padding: 1rem;
}

article button {
  margin-top: 0.5rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.product-image {
  display: flex; // centrerar bilden
}

img {
  width: 100%;
  height: 100%;
  margin-block: 0.5rem;
}

article {
  border: 1px solid black;
  grid-column: span 1;
  padding: 1rem;
}
